@font-face {
  font-family: 'Genshin';
  src: url("../fonts/genshin.eot");
  src: url("../fonts/genshin.eot?#iefix") format("embedded-opentype"), url("../fonts/genshin.woff2") format("woff2"), url("../fonts/genshin.woff") format("woff"), url("../fonts/genshin.ttf") format("truetype"), url("../fonts/genshin.svg#Genshin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body, #map {
  width: 100%;
  height: 100%;
}

#map {
  cursor: crosshair !important;
  background: #000000;
  outline: 0;
}

#map #teyvat-compass.leaflet-bar {
  border-color: transparent;
}

#map #teyvat-compass.leaflet-bar button {
  background: none;
  border: none;
}

#menu {
  height: 100%;
  overflow: auto;
  background: #e8e2d7;
}

#menu h1 {
  font-family: 'Genshin', serif;
}

#menu #header {
  position: sticky;
  top: 0;
  background: #3d4555;
  z-index: 9;
}

#menu li.marker a {
  display: flex;
  padding: .5rem;
  align-items: center;
  border-radius: .25rem;
  border: 1px solid #9ca3af;
}

#menu li.marker a img {
  margin-right: .5rem;
  height: 1.5rem;
}

#menu li.title {
  grid-column: span 2/span 2;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Genshin', serif;
  color: #3d4555;
}

#menu li.title2 {
  grid-column: span 2/span 2;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: 'Genshin', serif;
  color: #4f535c;
}

#menu a {
  filter: grayscale(1);
  opacity: .66;
}

#menu a.active {
  background: white !important;
  filter: grayscale(0);
  opacity: 1;
}

#menu a span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-popup.normpop {
  min-width: 300px;
}

.leaflet-popup.normpop .leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-popup.normpop .leaflet-popup-content {
  width: calc(100% - 40px) !important;
  margin: 20px;
}

.leaflet-popup.normpop .leaflet-popup-content a.video {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.leaflet-popup.normpop .leaflet-popup-content a.video:before {
  background: url("../img/play.png") no-repeat center;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  display: block;
  content: '';
  background-size: 33%;
}

.leaflet-popup.normpop .leaflet-popup-content a.video img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: none;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.leaflet-popup.normpop .leaflet-popup-content a.image {
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}

.leaflet-popup.normpop .leaflet-popup-content a.image:before {
  background: url("../img/zoom.png") no-repeat center;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  display: block;
  content: '';
  background-size: 33%;
}

.leaflet-popup.normpop .leaflet-popup-content a.guide {
  display: inline-block;
  padding: 0.5em 0.75em 0.5em calc(20px + 1.5em);
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  letter-spacing: .025em;
  font-weight: bold;
  margin-top: 1em;
  margin-right: .5em;
  background: url("../img/guide.png") no-repeat 1em center #374151;
}

.leaflet-popup.normpop .leaflet-popup-content label {
  display: inline-block;
}

.leaflet-popup.normpop .leaflet-popup-content label input#user-marker {
  position: absolute;
  left: -999em;
}

.leaflet-popup.normpop .leaflet-popup-content label span {
  padding: 0.5em 0.75em 0.5em calc(20px + 1.25em);
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  letter-spacing: .025em;
  font-weight: bold;
  margin-top: 1em;
  display: inline-block;
}

.leaflet-popup.normpop .leaflet-popup-content label input + span {
  background: url("../img/uncheck.png") no-repeat 1em center #3b82f6;
  background-size: 15px;
}

.leaflet-popup.normpop .leaflet-popup-content label input:checked + span {
  background: url("../img/check.png") no-repeat 1em center #10b981;
  background-size: 15px;
}

.leaflet-popup.normpop .leaflet-popup-content h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -10px;
  margin-bottom: -10px;
}

.leaflet-popup.normpop .leaflet-popup-content h4 + a {
  margin-top: 20px;
}

.leaflet-popup.normpop .leaflet-popup-content h4 + img {
  margin-top: 20px;
  border-radius: 4px;
}

.leaflet-popup.normpop .leaflet-popup-content p {
  margin: 10px 0;
  font-size: 1.2em;
}

.leaflet-popup.normpop .leaflet-popup-content p:last-of-type {
  margin-bottom: -10px;
}

.leaflet-popup.normpop .leaflet-popup-content p + label {
  margin-top: 5px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot1 {
  margin: 0px 90px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot1 img {
  display: unset;
  margin: 2px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot2 {
  margin: 0px 51px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot2 img {
  display: unset;
  margin: 2px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot3 {
  margin: 0px 12px;
}

.leaflet-popup.normpop .leaflet-popup-content span#fishingspot3 img {
  display: unset;
  margin: 2px;
}

.leaflet-popup.normpop .leaflet-popup-content img.ico {
  display: unset;
  width: 24px;
  height: 24px;
}

.leaflet-popup.radiopop {
  min-width: 350px;
}

.leaflet-popup.radiopop .leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-popup.radiopop .leaflet-popup-content {
  margin: 20px;
  width: 350px !important;
  overflow-y: auto;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile {
  display: none;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile + label {
  width: 100%;
  height: 60px;
  margin: 2px 0px;
  padding: 5px 3px;
  font-size: 1.25em;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #4b5563;
  background-color: #e8e2d7;
  border: 1px solid #9ca3af;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile + label img {
  width: 48px;
  margin: 0px 2px;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile + label span {
  display: flex;
  align-items: center;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile:hover + label {
  background-color: #9ca3af;
  border-color: #2f3135;
}

.leaflet-popup.radiopop .leaflet-popup-content input[type="radio"].radioile:checked + label {
  background-color: #9ca3af;
  border-color: #353638;
  color: #000;
}

body #menu {
  display: none;
  width: 320px;
}

body #map-wrap {
  width: 100%;
}

body.show-menu #menu {
  display: block;
}

@media screen and (max-width: 500px) {
  body.show-menu #menu {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  body.show-menu #menu h1 {
    letter-spacing: -.25em;
  }
  body.show-menu #menu #header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  body.show-menu #menu #header > div {
    margin-top: -3px;
  }
}

body.show-menu #map-wrap {
  width: calc(100% - 320px);
}

@media screen and (max-width: 500px) {
  body.show-menu .leaflet-control-attribution {
    display: none;
  }
  body.show-menu #map-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body .leaflet-control-container > div {
    display: flex;
    align-items: flex-start;
  }
}

.lity .lity-error {
  color: red;
}

.leaflet-tooltip.region {
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  font-size: 1.4rem;
  font-family: 'Genshin', serif;
  text-align: center;
  line-height: 1.2;
}

.leaflet-tooltip.region:before {
  display: none;
}

.leaflet-tooltip.timer, .leaflet-tooltip.countdown {
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 3px #000;
  font-size: .8rem;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

.leaflet-tooltip.timer:before, .leaflet-tooltip.countdown:before {
  display: none;
}
